/* LINKS */

a:link, a:visited, a:active {
    text-decoration:none;
}

/* HOME */

.home {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0 0 0;
}

.navbar{
    background: radial-gradient(#1fe4f5, #3fbafe);
}

/* CARD */

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
  }
  
  .card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }
  
  .card__link,
  .card__exit,
  .card__icon {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
  }
  
  .card__link::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
  }
  
  .card__link:hover::after {
    width: 100%;
  }
  
  .card__exit {
    grid-row: 1/2;
    justify-self: end;
  }

.card-1 {
    background: radial-gradient(#1fe4f5, #3fbafe);
}

.card__icon {
    grid-row: 2/3;
    font-size: 30px;
}

.card__title {
    grid-row: 3/4;
    font-weight: 400;
    color: #ffffff;
}

.card__apply {
    grid-row: 4/5;
    align-self: center;
  }

.cardConteiner {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin: 30px 0 0 0;
    align-items: center;
}

/* USER DETAILS */

.Card{
  display: flex;
  justify-content: center;
  margin: 100px 0 0 0;
}

.card-usuario {
  display: flex;
  width: 600px;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, .15);
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  align-items: center;
  font-size:2rem;
}

.card-usuario .avatar {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #fff;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, .15);
  margin-bottom: 1rem;
}
.card-usuario .seccion-avatar {
  background: radial-gradient(#1fe4f5, #3fbafe);
  padding: 20px;
  color: #fff;
}
.card-usuario img {
  width: 100%;
}
.card-usuario .datos-usuario span,
.card-usuario .datos-usuario {
  display: block;
  text-align: center;
}
.card-usuario .datos-usuario + .datos-usuario {
  margin-top: 1rem;
}
.card-usuario .datos-usuario span:nth-child(1) {
  font-size: 1.3em;
}
.card-usuario .datos-usuario span:nth-child(2) {
  font-size: .8em;
}

.card-usuario .seccion-datos {
  flex-grow: 1;
  flex-basis: 0;
  padding: 20px;
}
.card-usuario .seccion-datos h5 {
  font-size: 1.1em;
  font-weight: normal;
}
.card-usuario .seccion-datos p {
  font-size: .8em;
  color: #808080;
  margin-bottom: 1.25rem;
}

.seccion-datos > a {
  color: #808080;
  text-decoration: none;
  font-weight: bold;
}
.seccion-datos > a:hover {
  color: #5E5E5E;
}

.seccion-datos .bio-usuario {
  font-size: 0.9rem;
  color: #858585;
}

/* MEDIA QUERIES */

@media (min-width: 1px) and (max-width: 600.98px) {
    .cardConteiner {
        font-size: 1.2rem;
        display: grid;
        grid-template-columns: auto;
    }

    .cards {
        justify-content: center;
        width: 300px;
        height:auto;
    }
}

@media (min-width: 601px) and (max-width: 1200.98px) {

    .cardConteiner{
      grid-template-columns: auto;
    }

    .cards {
      justify-content: center;
      width: 400px;
      height:auto;
    }
  }

  @media (max-width: 780px) {
    .card-usuario {
        flex-direction: column;
        width: 320px;
    }
    .card-usuario .seccion-avatar {
        display: flex;
        align-items: center;
    }
    .seccion-avatar .avatar {
        margin-right: 1rem;
        width: 63px;
        height: 62px;
        border: 3px solid #fff;
        margin-bottom: 0;
    }
    .card-usuario .seccion-avatar .datos-usuario {
        margin: 0;
        margin-right: 1rem;
    }
    .card-usuario .seccion-avatar .datos-redes {
        flex-grow: 1;
        flex-basis: 0;
        display: flex;
        align-items: center;
    }
    .card-usuario .datos-usuario span:nth-child(1) {
        font-size: 1.1em;
    }
    .card-usuario .datos-usuario span:nth-child(2) {
        font-size: .7em;
    }
  }